h1, h2 {
    text-align: center;
}

.annonces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.annonce {
    padding: 10px;
    margin: 8px;
    border-style: outset;
    border-radius: 15px;
    width: 150px;
    height: 170px;
}
