h1 {
    text-align: center;
}

.annonces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

h2 {
    margin-left: 20px;
    text-align: center;
}

.annonce {
display: flex;
flex-direction: column;
}