div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.defPartie {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    color: darkgreen;
    background-color: lightgreen;    
    border-radius: 15px;
    border: 5px double darkgreen;
    margin-bottom: 2rem;
}

.option {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 8px;
    border-style: outset;
    border-radius: 15px;
    width: 350px;
}

input {
    background-color: rgb(0, 158, 0);
    width: 100px;
    height: 30px;
    font-size: 1em;
    margin: 10px;
    padding-left: 10px;
}

input::placeholder {
    color: rgb(0,228,0);
}

.input {
    display: inline;
    font-size: 1.5em;
}
app-button {
    margin-top: 15px;
}