<div class="displayEquipes">
    <!--boucle pour lister tous les éléments de la liste-->
    <ul *ngFor="let item of equipes">
        <li>
            <!--
            <input type="checkbox" [checked]="item.done" (click)="onChange(item.idEquipes)"> 
            je n'utilise pas cette fonctionnalité-->
            {{item.equipe}}
            <!--
            <app-button [value]="btnDelete" (event)="delete(item.idEquipes)"></app-button> 
            je n'utilise pas cette fonctionnalité-->
        </li>
    </ul>
</div>

