@font-face {
    font-family: shadowHand;
    src: url('../../assets/ShadowHand.ttf');
}

.button {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rappelPoints {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.atouts, .reste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h3 {
    text-shadow: 0px 0px 5px lightgreen;
    font-family: 'ShadowHand';
    font-size: 2em;
    text-align: center;
}

ul {
    list-style-type: none;
}

.nomCartes {
    text-shadow: 0px 0px 5px lightgreen;
    font-family: 'ShadowHand';
    font-size: 2em;
    text-align: center;
}

li {
    padding: 5px;
}