ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    font-size: 1.5em;
    color: darkgreen;
    display: inline-flex;   
}

li {
    padding: 50px;
    display: flex;
    flex-direction: row;
}

div {
    text-align: center;
}

