.equipes {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    color: darkgreen;
    background-color: lightgreen;    
    border-radius: 15px;
    border: 5px double darkgreen;
    margin-bottom: 2rem;
} 