h2, .chip {
    padding-left: 20px;
}

.chip {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: 2em;
    width: 6em;
}

.mat-mdc-chip-set {
    max-width : 100px ;
 }
